@media (min-width: 992px) {
	.nav {
		&__desktop {
			display: flex;
			&-item {
				font-size: 2rem;
			}
		}
	}

	.contact {
		&__mail {
			width: 500px;
		}

		&__wrapper {
			&-btn {
				width: 500px;
			}
		}

		&__label {
			&-file {
				width: 400px;
			}
		}

		&__input {
			width: 400px;
		}

		&__btn {
			width: 150px;
		}
	}
}
