@media (min-width: 768px) {
	.nav {
		&__mobile {
			display: none;
		}
		&__desktop {
			display: flex;
			&-item {
				font-size: 1.6rem;
			}
		}
	}
	.section {
		padding-top: 12rem;
		&__title {
			font-size: 4rem;
		}
	}

	.types {
		&__item {
			&-icon {
				font-size: 8rem;
			}
			&-title {
				font-size: 3rem;
			}
		}
	}

	.about {
		&__box {
			&-img {
				display: block;
			}
		}
	}

	.contact {
		&__box {
			justify-content: center;
			flex-direction: row;
		}
	}

	.modal {
		width: 600px;
		font-size: 1.5rem;
		&__box {
			width: 600px;

			&-list {
				&--no {
					padding-bottom: 5rem;
				}
			}
		}

		&__btn {
			font-size: 3.5rem;
		}
	}
}
