@media (min-width: 576px) {
	.nav {
		&__mobile {
			&-items {
				width: 400px;
			}
		}
	}

	.types {
		&__item {
			height: 250px;
			&-icon {
				font-size: 7.5rem;
			}
			&-title {
				font-size: 2.5rem;
			}
		}
	}
}
