@media (min-width: 1200px) {
	.nav {
		&__desktop {
			display: flex;
			&-item {
				font-size: 2.5rem;
			}
		}
	}
	.section {
		padding-top: 12rem;
		&__title {
			font-size: 5rem;
		}
	}

	.types {
		&__item {
			height: 300px;
			&-icon {
				font-size: 8.5rem;
			}
			&-title {
				font-size: 3.5rem;
			}
		}
	}

	.modal {
		width: 1000px;
		font-size: 1.8rem;
		flex-direction: row;
		align-items: flex-start;
		&__box {
			width: 500px;

			&-list {
				&--no {
					padding-bottom: 5rem;
				}
			}
		}

		&__btn {
			font-size: 5rem;
		}
	}
}
